.card {
  margin: 5px;
  position: relative;
  width: 9vw;
  height: 9vw;
  transition: transform 0.25s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 0 0 15px -5px rgb(0 0 0 / 50%);
}
.card.flip {
  transform: rotateY(180deg);
}
.card__img {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
  border-radius: 10%;
}
.back-img {
  background: repeating-linear-gradient(
    45deg,
    whitesmoke,
    whitesmoke 5px,
    rgb(0, 255, 0) 5px,
    rgb(0, 255, 0) 30px
  );
}
.front-img {
  background: whitesmoke;
  font-size: 5vw;
  transform: rotateY(180deg);
}
