* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
.wrapper {
  width: 100%;
  min-height: 100vh;
}
.wrapper {
  position: relative;
}
button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px dashed black;
  background-color: #eee;
  transition: background-color 0.5s, color 0.5s, box-shadow 2s;
  font-size: 1em;
  font-weight: 700;
}
button:hover {
  background-color: #222;
  color: #eee;
  border-style: solid;
}
button:active {
  box-shadow: 0 0 10px 10px black;
}
